*.class
Aziende/build/classes/.netbeans_automatic_build
Aziende/build/classes/.netbeans_update_resources
Aziende/build/classes/logback.xml
Aziende/build/classes/it/unibas/aziende/vista/Frame.form
Aziende/build/classes/it/unibas/aziende/vista/VistaDettagliAzienda.form
Aziende/build/classes/it/unibas/aziende/vista/VistaPrincipale.form
Aziende/build/test/classes/.netbeans_automatic_build
Aziende/build/test/classes/.netbeans_update_resources
Aziende/nbproject/build-impl.xml
Aziende/nbproject/genfiles.properties
Aziende/nbproject/project.properties
Aziende/nbproject/project.xml
Aziende/nbproject/private/config.properties
Aziende/nbproject/private/private.properties
Aziende/nbproject/private/private.xml
Aziende/build.xml
Aziende/manifest.mf
Aziende/POOI-EsempioProvaFinale-Base-Intermedio.pdf
Aziende/prova_dac_20200706.pdf
